## Python处理Excel一列变多列

### 1. 读取数据

In [1]:
import pandas as pd

In [15]:
df = pd.read_excel("./course_datas/c42_split_onecolumn_tomany/学生数据表.xlsx")

In [16]:
df.head()

     学号          数据
0  S001  怠涵:女:23:山东
1  S002  婉清:女:25:河南
2  S003  溪榕:女:23:湖北
3  S004  漠涓:女:19:陕西
4  S005  祈博:女:24:山东

### 2. 实现拆分

In [17]:
def split_func(line):
    line["姓名"], line["性别"], line["年龄"], line["城市"] = line["数据"].split(":")
    return line

df = df.apply(split_func, axis=1)

In [18]:
df.head()

     学号          数据  姓名 性别  年龄  城市
0  S001  怠涵:女:23:山东  怠涵  女  23  山东
1  S002  婉清:女:25:河南  婉清  女  25  河南
2  S003  溪榕:女:23:湖北  溪榕  女  23  湖北
3  S004  漠涓:女:19:陕西  漠涓  女  19  陕西
4  S005  祈博:女:24:山东  祈博  女  24  山东

In [20]:
f = lambda x: x.max()-x.min()
t=df['年龄'].apply(f)
print(t)

AttributeError: 'str' object has no attribute 'max'

In [6]:
df.drop(["数据"], axis=1, inplace=True)

In [7]:
df.head()

     学号  姓名 性别  年龄  城市
0  S001  怠涵  女  23  山东
1  S002  婉清  女  25  河南
2  S003  溪榕  女  23  湖北
3  S004  漠涓  女  19  陕西
4  S005  祈博  女  24  山东

### 3. 输出到结果Excel

In [8]:
df.to_excel("./course_datas/c42_split_onecolumn_tomany/学生数据表_拆分后.xlsx", index=False)